<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{pageTitle}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/agenda" routerLinkActive="active">Agenda</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><a routerLink="/user">
            Welcome {{auth.currentUser?.firstName}}
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

<div class='container'>
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span class = "text-muted text-center">
      {{footer}}
    </span>
  </div>
</footer>


