<form>
  <div class="panel panel-default">
    <div class="panel-heading">
      Add Appointment
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div class="input-small">
            <label for="service">Service</label>
            <input id="service" type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="input-small">
            <label for="client">Client</label>
            <input id="client" type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="input-small">
            <label for="client">Cost</label>
            <input id="cost" type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="input-small">
            <label for="client">Comment</label>
            <input id="comment" type="text" class="form-control" />
          </div>
        </div>
      </div>
    </div>

  </div>

</form>
