<div class="container">
  <div>
    <h3>{{pageTitle}}</h3>
    <p>
      {{message}}
    </p>
    <p>

    </p>
    <div *ngFor= "let entry of page, let e=index">
      <div class="card">

        <div class="pull-right">
          <button type="button" class="btn btn-sm" (click)='showEntryForm()'>+</button>
        </div>
        <app-appointment></app-appointment>

        <div class="panel-heading">
          Time: {{entry.time | time}}
        </div>
        <div class = "panel-body" *ngFor="let app of entry.appointments; let i=index">
          <div class="pull-right redx" (click)='removeEntry(e,i)'>
            <button type="button" class="btn btn-sm btn-warning">X</button>
          </div>
          <div>
            <div>{{app.service}}</div>
            <div>{{app.client}}</div>
            <div>{{app.price | currency : 'USD' :true}}</div>
            <div>{{app.comments}}</div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
