<div class="center-div card small">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="http://lorempixel.com/400/200">
  </div>

  <div class="card-content">
    <span class="card-title">Login</span>
    <p>Click on image above to enter details - use any username and password during development</p>
  </div>

  <div class="card-reveal" >
    <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <span class="card-title grey-text text-darken-4">Login<i class="material-icons right">close</i></span>
    <div class="input-field">
      <input id="userName" type="text" class="validate" (ngModel)="userName" name="userName" required>
      <label for="userName">Username</label>
    </div>
    <div class="input-field">
      <input id="password" type="password" class="validate" (ngModel)="password" name="password" required>
      <label for="password">Password</label>
    </div>
    <button type="submit" class="waves-effect waves-light btn">Login</button>
    </form>
  </div>
</div>
