/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~toastr/build/toastr.css";
@import "~tether/dist/css/tether.css";

.navbar-nav > li > a {
  font-size: large;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.redx{
  color: red;
}

